header nav a {
    color: rgb(255, 255, 255);
    align-content: center;
}

header {
    background-color: rgba(241, 93, 34, 0.952);
    height: 26px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 2px 2px 10px
}

h1 {
    color: rgb(6, 99, 6);
}

main {
    display:grid;
    grid-template-columns: auto auto auto auto;
}

h3 a {
    color: rgb(40, 141, 40);
}

footer {
    height: 25px;
    background-color: rgb(162, 214, 127);
    padding: 25px 25px;
    position: fixed;
    bottom: 0;
    width: 100%
}


